:root {
  --background: 0 0% 95%;
  --foreground: 0 0% 0%;
  --card-base: 0 0% 100%;
  --card-foreground: 0 0% 0%;
  --popover-base: 0 0% 100%;
  --popover-foreground: 0 0% 0%;
  --primary-base: 56 100% 50%;
  --primary-foreground: 0 0% 0%;
  --secondary-base: 84 81% 44%;
  --secondary-foreground: 0 0% 100%;
  --muted-base: 0 0% 85%;
  --muted-foreground: 0 0% 20%;
  --accent-base: 0 0% 20%;
  --accent-foreground: 0 0% 100%;
  --destructive-base: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 100%;
  --dimmed: 0 0% 45%;
  --border: 210 8% 90.2%;
  --input: 0 0% 75%;
  --ring: 0 0% 0%;

  --theme-shadow: 0.2rem 0.2rem 0.6rem hsla(110, 10%, 0%, 0.65);
  --radius: 0.5rem;
  --font: 'MonaspaceNeon', mono;
  --headings: var(--font);
  --ease: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 150ms;
  --transition: all var(--duration) var(--ease);
}

.dark {
  --background: 234 16.7% 11.8%;
  --foreground: 0 0% 98%;
  --card-base: 231 16.7% 16.5%;
  --card-foreground: 0 0% 98%;
  --popover-base: 231 16.7% 16.5%;
  --popover-foreground: 0 0% 98%;
  --primary-base: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --secondary-base: 231 16.7% 24%;
  --secondary-foreground: 0 0% 98%;
  --muted-base: 231 16.7% 24%;
  --muted-foreground: 231 10% 57.4%;
  --accent-base: 231 16.7% 24%;
  --accent-foreground: 0 0% 98%;
  --destructive-base: 7.41 84.2% 60.4%;
  --destructive-foreground: 0 0% 98%;
  --dimmed: 0 0% 45%;
  --border: 231 16.7% 24%;
  --input: 231 16.7% 32%;
  --ring: 240 4.9% 83.9%;
}
