# dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
tmp

# Pruvious dev/build outputs
.autoload.sql
.pruvious
.ssh.*
/.uploads
/public/uploads
pruvious.db
pruvious.db-journal

# Logs
logs
*.log

# Node dependencies
node_modules

# Obsidian-local
.obsidian
apps/home/.obsidian

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
!.env.test.example
.vscode/.server-controller-port.log
