*.md
pnpm-lock.yaml
.env
.npmrc
.nuxt
.cache
.nitro
.output
.pruvious
.uploads
node_modules
graphql/gql
apps/*/dist
apps/*/.nuxt
apps/*/node_modules
packages/*/node_modules
packages/*/.nuxt
packages/*/dist
**/fixtures
