@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    @apply /* for Chrome, Safari, and Opera */ hidden;
  }
}

@font-face {
  font-family: Mona-Neon;
  src: url('../Monaspace/MonaspaceNeon-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Mona-Neon;
  src: url('../Monaspace/MonaspaceNeon-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@layer components {
  .narrow-container {
    @apply mx-auto max-w-[1336px] px-4 md:px-6 xl:px-8 xxl:px-0;
  }

  .top-index {
    z-index: 10 !important;
  }
}
