NUXT_PUBLIC_ODOO_BASE_URL=https://vsfdemo15.labs.odoogap.com/
NUXT_PUBLIC_ODOO_BASE_IMAGE_URL=https://vsfdemo15.labs.odoogap.com/

NUXT_PUBLIC_MIDDLEWARE_URL=http://localhost:3000/
NUXT_PUBLIC_MIDDLEWARE_PORT=8443
NUXT_STORYBLOK_TOKEN=

# NUXT_PUBLIC_PATH=https://xyz.cloudfront.cdn.com

NODE_ENV=dev
NUXT_NODE_LOCALE=en-EN
NUXT_PUBLIC_VSF_PORT=3000

REDIS_ENABLED=false
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=pass
# Used for invalidating cache
NUXT_REDIS_INVALIDATION_KEY=123

NUXT_TELEMETRY_DISABLED=1
GOOGLE_TAG_MANAGER_ID=1

# PRUVIOUS
NUXT_PRUVIOUS_DATABASE=xxxx
NUXT_PRUVIOUS_JWT_SECRETKEY=xxxxx
NUXT_DOMAIN_CODE=
NUXT_ODOO_SYNC_USER_EMAIL=
NUXT_ODOO_SYNC_USER_PASSWORD=""
NUXT_MS_CLIENT_ID=
NUXT_MS_TENANT_ID=
NUXT_MS_CLIENT_SECRET=
NUXT_MS_TAXONOMIES_SITE_ID=
NUXT_MS_TAXONOMIES_LIST_ID=
